In [3]:
import pandas as pd
import numpy as np

## 缺失数据处理

缺失数据类型：
- NaN (np.nan)
- 特殊值（如0，-1）

### 处理NaN

1. 判断DataFrame是否为NaN
    - pd.isnull(df)
    - pd.notnull(df)
    - df.isnull()
    - df.notnull()
    **isna是isnull的alias**

2. 处理缺失数据
    - 删除缺失数据
        - df.dropna(axis=0/1, how='any'/'all', inplace=True/False)
    - 填充缺失数据
        - df.fillna(value, inplace=True/False)
            -  value: 填充值，常取
                - 0: 特殊值
                - df.mean(): 均值
                - df.median(): 中位数

In [4]:
# 判断数据是否为NaN
df = pd.DataFrame([[1, 2, 3], [4, np.nan, 6], [7, 8, 9]])
df.isnull()

       0      1      2
0  False  False  False
1  False   True  False
2  False  False  False

In [5]:
df.notnull()

      0      1     2
0  True   True  True
1  True  False  True
2  True   True  True

In [9]:
pd.isnull(df[1][1])

True

In [10]:
df.dropna(axis=0, how='any')

   0    1  2
0  1  2.0  3
2  7  8.0  9

In [11]:
df.dropna(axis=1, how='any')

   0  2
0  1  3
1  4  6
2  7  9

In [12]:
df.fillna(0)

   0    1  2
0  1  2.0  3
1  4  0.0  6
2  7  8.0  9

In [13]:
df.fillna(df.mean())

   0    1  2
0  1  2.0  3
1  4  5.0  6
2  7  8.0  9

In [14]:
df.fillna(df.median())

   0    1  2
0  1  2.0  3
1  4  5.0  6
2  7  8.0  9

In [15]:
df.fillna(method='ffill')

C:\Users\Jemzh\AppData\Local\Temp\ipykernel_25076\253117906.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

   0    1  2
0  1  2.0  3
1  4  2.0  6
2  7  8.0  9

### 处理特殊值

将特殊值替换为NaN
ps. 替换为NaN是因为，特殊值可能会影响数据分析结果，如求均值，求中位数等

`t[t==-1] = np.nan`

In [16]:
df = pd.DataFrame([[1, 2, 3], [4, -1, 6], [7, 8, -1]])
df[df==-1] = np.nan
df

   0    1    2
0  1  2.0  3.0
1  4  NaN  6.0
2  7  8.0  NaN