In [2]:
import pandas as pd
import numpy as np

## 数据的合并

1. join
2. merge

#### join与merge的主要区别
- join是基于index连接，而merge是基于column连接
- join默认是左连接，而merge默认是内连接
- join只能连接两个DataFrame，而merge可以连接多个DataFrame
- join的连接方式只有'left', 'right', 'outer', 'inner'，而merge的连接方式有'left', 'right', 'outer', 'inner', 'cross'

**join适合比较简单的连接，merge适合比较复杂的连接**

In [13]:
# join 连接两个DataFrame
df3 = pd.DataFrame(np.arange(12).reshape(3,4), index=list('abc'), columns=list('ABCD'))
df4 = pd.DataFrame(np.arange(16).reshape(4,4), index=list('abcd'), columns=list('EFGH'))
df3.join(df4)

   A  B   C   D  E  F   G   H
a  0  1   2   3  0  1   2   3
b  4  5   6   7  4  5   6   7
c  8  9  10  11  8  9  10  11

In [21]:
# merge 连接两个DataFrame

t1 = pd.DataFrame({'M': [1.0, 1.0, 1.0], 'N': [1.0, 1.0, 1.0], 'O': ['a', 'b', 'c'], 'P': [1.0, 1.0, 1.0]}, 
                  index=['a', 'b', 'c'])
t2 = pd.DataFrame({'V': [1.0, 1.0, 1.0], 'W': [1.0, 1.0, 1.0], 'X': ['b', 'c', 'd'], 'Y': [0.0, 0.0, 0.0], 'Z': [1.0, 1.0, 1.0]}, 
                  index=['a', 'b', 'c'])

# how='inner' 交集：左右都有的保留，没有的删除
t1.merge(t2, left_on='O', right_on='X', how='inner')

     M    N  O    P    V    W  X    Y    Z
0  1.0  1.0  b  1.0  1.0  1.0  b  0.0  1.0
1  1.0  1.0  c  1.0  1.0  1.0  c  0.0  1.0

In [22]:
# how='outer' 并集：左右都有的保留，没有的用NaN填充
t1.merge(t2, left_on='O', right_on='X', how='outer')

     M    N    O    P    V    W    X    Y    Z
0  1.0  1.0    a  1.0  NaN  NaN  NaN  NaN  NaN
1  1.0  1.0    b  1.0  1.0  1.0    b  0.0  1.0
2  1.0  1.0    c  1.0  1.0  1.0    c  0.0  1.0
3  NaN  NaN  NaN  NaN  1.0  1.0    d  0.0  1.0

In [23]:
# how='left' 左连接：以左为准，右边没有的用NaN填充
t1.merge(t2, left_on='O', right_on='X', how='left')

     M    N  O    P    V    W    X    Y    Z
0  1.0  1.0  a  1.0  NaN  NaN  NaN  NaN  NaN
1  1.0  1.0  b  1.0  1.0  1.0    b  0.0  1.0
2  1.0  1.0  c  1.0  1.0  1.0    c  0.0  1.0

In [24]:
# how='right' 右连接：以右为准，左边没有的用NaN填充
t1.merge(t2, left_on='O', right_on='X', how='right')

     M    N    O    P    V    W  X    Y    Z
0  1.0  1.0    b  1.0  1.0  1.0  b  0.0  1.0
1  1.0  1.0    c  1.0  1.0  1.0  c  0.0  1.0
2  NaN  NaN  NaN  NaN  1.0  1.0  d  0.0  1.0