In [1]:
import pandas as pd
import numpy as np

# 索引

1. df.set_index('A'): 将A列设置为索引
2. df.reset_index(): 将索引还原为列

In [3]:
# df.set_index('A'): 将A列设置为索引
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
df1.set_index('A')

     B   C   D
A
A0  B0  C0  D0
A1  B1  C1  D1
A2  B2  C2  D2
A3  B3  C3  D3

In [12]:
# df1.set_index(['A', 'B']): 将A、B列设置为索引
df2 = df1.set_index(['A', 'B'])
df2

        C   D
A  B
A0 B0  C0  D0
A1 B1  C1  D1
A2 B2  C2  D2
A3 B3  C3  D3

In [11]:
# df.reset_index(): 将索引还原为列
df1.reset_index()

   index   A   B   C   D
0      0  A0  B0  C0  D0
1      1  A1  B1  C1  D1
2      2  A2  B2  C2  D2
3      3  A3  B3  C3  D3

In [13]:
# df.reset_index(drop=True): 将索引还原为列，丢弃原索引
df2.reset_index(drop=True)

    C   D
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

In [14]:
# df2.reset_index(level=0): 将索引还原为列，level=0表示还原第0级索引
df2.reset_index(level=0)

     A   C   D
B
B0  A0  C0  D0
B1  A1  C1  D1
B2  A2  C2  D2
B3  A3  C3  D3

In [18]:
# df2.reindex(): 重新索引，缺失值填充NaN

     B    C    D
A0 NaN  NaN  NaN
A1 NaN  NaN  NaN
A2 NaN  NaN  NaN
A3 NaN  NaN  NaN